In [2]:
import pandas as pd
df = pd.read_csv('house-prices-advanced-regression-techniques/train.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [17]:
df.shape[0]
df['LotFrontage'][0]

mydf = df[['LotArea','Street','BldgType','HouseStyle','OverallQual', 'OverallCond','YearBuilt','TotalBsmtSF','BedroomAbvGr','KitchenAbvGr']]

In [19]:
count = 0

for i in range(0,df.shape[0]):
    count += df['MSSubClass'][i]
#print(count/df.shape[0])
print(mydf.mean())

LotArea         10516.828082
OverallQual         6.099315
OverallCond         5.575342
YearBuilt        1971.267808
TotalBsmtSF      1057.429452
BedroomAbvGr        2.866438
KitchenAbvGr        1.046575
dtype: float64

In [21]:
print(mydf.median())

LotArea         9478.5
OverallQual        6.0
OverallCond        5.0
YearBuilt       1973.0
TotalBsmtSF      991.5
BedroomAbvGr       3.0
KitchenAbvGr       1.0
dtype: float64

In [23]:
print(mydf.mode())

   LotArea Street BldgType HouseStyle  OverallQual  OverallCond  YearBuilt  \
0     7200   Pave     1Fam     1Story            5            5       2006

   TotalBsmtSF  BedroomAbvGr  KitchenAbvGr
0            0             3             1

In [34]:
#print(mydf.BedroomAbvGr.quantile([0.25,0.5, 0.75]))
print(mydf.describe())

             LotArea  OverallQual  OverallCond    YearBuilt  TotalBsmtSF  \
count    1460.000000  1460.000000  1460.000000  1460.000000  1460.000000
mean    10516.828082     6.099315     5.575342  1971.267808  1057.429452
std      9981.264932     1.382997     1.112799    30.202904   438.705324
min      1300.000000     1.000000     1.000000  1872.000000     0.000000
25%      7553.500000     5.000000     5.000000  1954.000000   795.750000
50%      9478.500000     6.000000     5.000000  1973.000000   991.500000
75%     11601.500000     7.000000     6.000000  2000.000000  1298.250000
max    215245.000000    10.000000     9.000000  2010.000000  6110.000000

       BedroomAbvGr  KitchenAbvGr
count   1460.000000   1460.000000
mean       2.866438      1.046575
std        0.815778      0.220338
min        0.000000      0.000000
25%        2.000000      1.000000
50%        3.000000      1.000000
75%        3.000000      1.000000
max        8.000000      3.000000

In [42]:
print(mydf.max())

LotArea         215245
Street            Pave
BldgType        TwnhsE
HouseStyle        SLvl
OverallQual         10
OverallCond          9
YearBuilt         2010
TotalBsmtSF       6110
BedroomAbvGr         8
KitchenAbvGr         3
dtype: object
LotArea           1300
Street            Grvl
BldgType          1Fam
HouseStyle      1.5Fin
OverallQual          1
OverallCond          1
YearBuilt         1872
TotalBsmtSF          0
BedroomAbvGr         0
KitchenAbvGr         0
dtype: object

In [43]:
print(mydf.min())

LotArea           1300
Street            Grvl
BldgType          1Fam
HouseStyle      1.5Fin
OverallQual          1
OverallCond          1
YearBuilt         1872
TotalBsmtSF          0
BedroomAbvGr         0
KitchenAbvGr         0
dtype: object

In [47]:
print(mydf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 10 columns):
LotArea         1460 non-null int64
Street          1460 non-null object
BldgType        1460 non-null object
HouseStyle      1460 non-null object
OverallQual     1460 non-null int64
OverallCond     1460 non-null int64
YearBuilt       1460 non-null int64
TotalBsmtSF     1460 non-null int64
BedroomAbvGr    1460 non-null int64
KitchenAbvGr    1460 non-null int64
dtypes: int64(7), object(3)
memory usage: 114.1+ KB
None

In [48]:
print(mydf.var())

LotArea         9.962565e+07
OverallQual     1.912679e+00
OverallCond     1.238322e+00
YearBuilt       9.122154e+02
TotalBsmtSF     1.924624e+05
BedroomAbvGr    6.654938e-01
KitchenAbvGr    4.854892e-02
dtype: float64

In [49]:
print(mydf.std())

LotArea         9981.264932
OverallQual        1.382997
OverallCond        1.112799
YearBuilt         30.202904
TotalBsmtSF      438.705324
BedroomAbvGr       0.815778
KitchenAbvGr       0.220338
dtype: float64

In [50]:
print(mydf)

      LotArea Street BldgType HouseStyle  OverallQual  OverallCond  YearBuilt  \
0        8450   Pave     1Fam     2Story            7            5       2003
1        9600   Pave     1Fam     1Story            6            8       1976
2       11250   Pave     1Fam     2Story            7            5       2001
3        9550   Pave     1Fam     2Story            7            5       1915
4       14260   Pave     1Fam     2Story            8            5       2000
5       14115   Pave     1Fam     1.5Fin            5            5       1993
6       10084   Pave     1Fam     1Story            8            5       2004
7       10382   Pave     1Fam     2Story            7            6       1973
8        6120   Pave     1Fam     1.5Fin            7            5       1931
9        7420   Pave   2fmCon     1.5Unf            5            6       1939
10      11200   Pave     1Fam     1Story            5            5       1965
11      11924   Pave     1Fam     2Story            9            5       2005
12      12968   Pave     1Fam     1Story            5            6       1962
13      10652   Pave     1Fam     1Story            7            5       2006
14      10920   Pave     1Fam     1Story            6            5       1960
15       6120   Pave     1Fam     1.5Unf            7            8       1929
16      11241   Pave     1Fam     1Story            6            7       1970
17      10791   Pave   Duplex     1Story            4            5       1967
18      13695   Pave     1Fam     1Story            5            5       2004
19       7560   Pave     1Fam     1Story            5            6       1958
20      14215   Pave     1Fam     2Story            8            5       2005
21       7449   Pave     1Fam     1.5Unf            7            7       1930
22       9742   Pave     1Fam     1Story            8            5       2002
23       4224   Pave   TwnhsE     1Story            5            7       1976
24       8246   Pave     1Fam     1Story            5            8       1968
25      14230   Pave     1Fam     1Story            8            5       2007
26       7200   Pave     1Fam     1Story            5            7       1951
27      11478   Pave     1Fam     1Story            8            5       2007
28      16321   Pave     1Fam     1Story            5            6       1957
29       6324   Pave     1Fam     1Story            4            6       1927
...       ...    ...      ...        ...          ...          ...        ...
1430    21930   Pave     1Fam     2Story            5            5       2005
1431     4928   Pave   TwnhsE     1Story            6            6       1976
1432    10800   Pave     1Fam     1Story            4            6       1927
1433    10261   Pave     1Fam     2Story            6            5       2000
1434    17400   Pave     1Fam     1Story            5            5       1977
1435     8400   Pave     1Fam     1Story            6            9       1962
1436     9000   Pave     1Fam     1Story            4            6       1971
1437    12444   Pave     1Fam     1Story            8            5       2008
1438     7407   Pave     1Fam     1Story            6            7       1957
1439    11584   Pave     1Fam       SLvl            7            6       1979
1440    11526   Pave     1Fam     2.5Fin            6            7       1922
1441     4426   Pave   TwnhsE     1Story            6            5       2004
1442    11003   Pave     1Fam     2Story           10            5       2008
1443     8854   Pave     1Fam     1.5Unf            6            6       1916
1444     8500   Pave     1Fam     1Story            7            5       2004
1445     8400   Pave     1Fam     SFoyer            6            5       1966
1446    26142   Pave     1Fam     1Story            5            7       1962
1447    10000   Pave     1Fam     2Story            8            5       1995
1448    11767   Pave     1Fam     2Story            4            7       1910
1449     1533   Pave    Twnhs     SFoyer            5            7       1970
1450     9000   Pave   Duplex     2Story            5            5       1974
1451     9262   Pave     1Fam     1Story            8            5       2008
1452     3675   Pave   TwnhsE       SLvl            5            5       2005
1453    17217   Pave     1Fam     1Story            5            5       2006
1454     7500   Pave     1Fam     1Story            7            5       2004
1455     7917   Pave     1Fam     2Story            6            5       1999
1456    13175   Pave     1Fam     1Story            6            6       1978
1457     9042   Pave     1Fam     2Story            7            9       1941
1458     9717   Pave     1Fam     1Story            5            6       1950
1459     9937   Pave     1Fam     1Story            5            6       1965

      TotalBsmtSF  BedroomAbvGr  KitchenAbvGr
0             856             3             1
1            1262             3             1
2             920             3             1
3             756             3             1
4            1145             4             1
5             796             1             1
6            1686             3             1
7            1107             3             1
8             952             2             2
9             991             2             2
10           1040             3             1
11           1175             4             1
12            912             2             1
13           1494             3             1
14           1253             2             1
15            832             2             1
16           1004             2             1
17              0             2             2
18           1114             3             1
19           1029             3             1
20           1158             4             1
21            637             3             1
22           1777             3             1
23           1040             3             1
24           1060             3             1
25           1566             3             1
26            900             3             1
27           1704             3             1
28           1484             2             1
29            520             1             1
...           ...           ...           ...
1430          732             4             1
1431          958             2             1
1432          656             4             1
1433          936             3             1
1434         1126             3             1
1435         1319             3             1
1436          864             3             1
1437         1932             2             1
1438          912             2             1
1439          539             3             1
1440          588             3             1
1441          848             1             1
1442         1017             3             1
1443          952             2             1
1444         1422             3             1
1445          814             3             1
1446         1188             3             1
1447         1220             3             1
1448          560             2             1
1449          630             1             1
1450          896             4             2
1451         1573             3             1
1452          547             2             1
1453         1140             3             1
1454         1221             2             1
1455          953             3             1
1456         1542             3             1
1457         1152             4             1
1458         1078             2             1
1459         1256             3             1

[1460 rows x 10 columns]